// ==================================
// hero
// ==================================
.p-hero {
    background-image: url('../images/hero.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include mq() {
        height: 300px;
      }
    &__title {
      position: absolute;
      top: 160px;
      right: 180px;
      color: #fff;
      width: 50%;
      height: 30%;
      text-align: right;
      @include mq() {
        position: absolute;
        top: 100px;
        right: 50px;
        width: 80%;
      }
    }
    h2 {
      font-size: 58px;
      font-weight: bold;
      @include mq() {
        font-size: 30px;
      }
    }
    p {
      font-size: 20px;
      font-weight: bold;
      @include mq() {
        font-size: 14px;
      }
    }
  }