// ==================================
// hero
// ==================================
.p-hero {
    background-image: url('../images/hero.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include mq() {
        height: 300px;
      }
    &__title {
      position: absolute;
      top: 160px;
      right: 180px;
      color: #fff;
      width: 50%;
      height: 30%;
      text-align: right;
      @include mq() {
        position: absolute;
        top: 100px;
        right: 50px;
        width: 80%;
      }
    }
    h2 {
      font-size: 58px;
      font-weight: bold;
      @include mq() {
        font-size: 30px;
      }
    }
    p {
      font-size: 20px;
      font-weight: bold;
      @include mq() {
        font-size: 14px;
      }
    }
  }


// ==================================
// panel
// ==================================
.p-panel {
    box-sizing: border-box;
    background: #fff;
    position: relative;
    transition: .5s;
    &--hover {
      display: inline-block;
      transition: .5s;
      &:hover {
        transform: scale(1.03);
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        transition: .5s;
      }
    }
    &__border {
      border-radius: 5px;
      border: 5px solid $color_corp;
    }
    &__head, &__foot {
      padding: $space_m;
    }
    &__head {
      text-align: center;
      color: $color_corp;
    }
    // &--active {
    //   border: 5px solid $color_corp;
    // }
    &__group {
      margin-right: -$space_l;
      &--float {
        overflow: hidden;
      }
      &--flex {
        display: flex;
        flex-wrap: wrap;
      }
      .p-panel {
        float: left;
        margin-right: $space_l;
        margin-bottom: $space_l;
        box-sizing: border-box;
      }
    }
    &__cource {
      width: calc(33.3% - #{$space_l});
      @include mq() {
        width: 100%;
        margin: 0 auto $space_l auto;
      }
    }
    &__login {
      width: calc(33.3% - #{$space_l});
      margin: 0 auto;
      @include mq() {
        width: 100%;
        margin: 0 auto $space_l auto;
      }
    }
    &__cnews {
      width: calc(100% - #{$space_l});
      padding: $space_l $space_xl;
      @include mq() {
        width: 100%;
        margin: 0 auto $space_l auto;
      }
    }
    &__ctrend {
      width: calc(50.0% - #{$space_l});
      @include mq() {
        width: 100%;
        margin: 0 auto $space_l auto;
      }
    }
  }
  


// ==================================
// Q&A
// ==================================
.p-qa {
  width: 80%;
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
  &__item {
    border-radius: 5px;
    padding: $space_xl $space_xxl;
    background: #f8f7fc;
    margin-bottom: $space_3l;
  }
  &__title {
    color: $color_corp;
    font-size: $font-size_xl;
    font-weight: bold;
    margin-right: $space_m;
    float: left;
  }
  &__p {
    font-size: $font-size_l;
  }
}

// ==================================
// 仮想通貨ニュース
// ==================================
.p-cnews {
  &__text {
    text-align: center;
    font-size: $font-size_l;
    font-weight: bold;
  }
  &__title {
    color: $color_corp;
    font-size: $font-size_l;
    font-weight: bold;
  }
  &__p {
    font-size: $font-size_default;
  }
  &__date {
    font-size: $font-size_l;
  }
}

// ==================================
// Twitterフォロー
// ==================================
.p-autofollow{
  &__container{
    text-align: center;
    width: 100%;
    @include mq() {
      text-align: left;
    }
    button{
      height: 50px;
      width: 50%;
      margin: auto;
      line-height: 50px;
      margin: 30px auto;
      background: $color_corp;
      // border: 3px solid #232323;
      font-size: 20px;
      display: block;
      box-shadow: 3px 2px;
      @include mq() {
        width:70%;
      }
      &:hover{
        transform: translate3d(0, 5px, 0);
        color: #fff;;
        box-shadow: none;
        // background: #fff;
      }
    }

    h3{
      margin: 30px auto;
      @include mq() {
        text-align: center;
      }
    }
    input{
      height: 20px;
    }
    p{
      width: 80%;
      margin: 25px auto;
      line-height: 30px;
    }
  }
  &__btncontainer{
    padding: 15px;
    border: solid 5px #6091d3;
    background-color: #00000014;
    width: 80%;
    margin: auto;
  }

  &__description
  {
    width: 100%;
    margin: auto;
    animation-duration: 0.5s;
    -webkit-animation-name: toup;
    animation-name: toup;

    h3{
      @include mq() {
        font-size: 16px;
      }
    }
    span{
      background: linear-gradient(transparent 70%, yellow 70%);
    }
  }

  &__ongoing{
    text-align: center;
    color: #0351ff;
    font-weight: bold;
    font-size: 16px;
    animation: 2s linear infinite blink_effect;
  }

}

.nowfollow{
    background-color: #FFE100;
}



.p-follows {
  &__title {
    text-align: center;
    font-size: $font-size_l;
    font-weight: bold;
  }
  &__text {
    font-size: $font-size_l;
    font-weight: bold;
  }
  &__p {
    font-size: $font-size_default;
  }
  &__date {
    font-size: $font-size_l;
  }
}


// ==================================
// Twitterアカウント
// ==================================
.p-twiiter{
  &__container{
    width: 100%;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $color_corp;
    h2{
      text-align: center;
      width: 100%;
      margin: 28px 24px 0 0;
    }
  }
}

// ==================================
// form
// ==================================
.p-form {
    width: 100%;
    &__m {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      @include mq() {
        width: 100%;
      }
    }
  }
  
  .p-input {
    display: block;
    margin-bottom: $space_m;
    border: 3px solid #f6f5f4;
    border-radius: 4px;
    outline: none;
    height: 60px;
    font-size: $font-size_l;
    color: $font-color_default;
    box-sizing: border-box;
    &__l {
      padding: 5px 10px;
      width: 100%;
    }
    &:focus {
      border: 3px solid $color_corp;
    }
    // &__textarea {
    //   height: 200px;
    // }
    input {
      border: none;
    }
  }
  
  ::placeholder {
    color: #ccc;
  }
  
.p-header{
  &__user{
    @include mq() {
      display: none;
    }
  }
}


// ==================================
// coinsbtn
// ==================================
  .p-coinsbtn{
    // position: relative;
    // padding-left: 20px;
    // margin-right: 20px;
    display: none;

    &:hover{
      transform: translate3d(0, 1px, 0);
      color: #007db9;
      box-shadow: none;
      background: #fff;
    }

    &__container{
      display: flex;
      justify-content: space-between;
      @include mq() {
        // width: 95%;
        display: flex;
        justify-content: space-between;
      }
      label{
        // margin: 5px;
        border: 1px solid #12575f;
        padding: 15px;
        // box-shadow: 2px 2px;
        display: block;
        height: 25px;
        line-height: 25px;
        text-align: center;
        &:hover{
          transform: translate3d(0, 1px, 0);
          box-shadow: 1px 1px;
        }
        @include mq() {
          // width: 200px;
          text-align: center;
        }
      }
    }
  
    &__coin{
      height: 25px;
      line-height: 25px;
      width: 50%;
      float: left;
      background-color: #00000014;
      @include mq() {
        font-size: 10px;
        width: 50%;
      }
      &__input{
        display: none;
        float: left;
      }
      &__checkparts{
        padding-left: 20px;
        position:relative;
        margin-right: 20px;
      }
  
      label{
        margin: 1px auto;
        display: block;
          @include mq() {
            width: 100%;
            display: inline-block;
            margin: auto;
            padding: auto;
            box-shadow: none;
          }
      }

  
  
      &__container{
        height: 70%;
        text-align: left;
        animation-duration: 0.3s;
        animation-name:toup;
        @include mq() {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          height: auto;
          background-color: #7fffdf54;
        }
        p {
          text-align: center;
          font-size: $font-size_l;
          color: #f00;
          font-weight: bold;
        }
      }
    }
    &__coinshow{
      // width: 95%;
      // margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      button{
        height: 25px;
        &:hover{
          color: #fff;
        }
      }
    }
    &__toshowcoin{
      width: 100%;
      background-color: #ffff00ba;
      height: 30px;
      @include mq() {
        width: 95%;
        height: 40px;
      }
    }
    &__highlight{
      width: 100%;
      background-color: #f80ba961;
      height: 30px;
      @include mq() {
        width: 95%;
        height: 40px;
      }
    }
  }
  
  
  
  .btn_active{
    background-color: #17ca94;
  }
  
  .p-coinsbtn__coin__input:checked + .p-coinsbtn__coin__checkparts{
    color: #f00;
    font-weight: bold;
  }
  // .p-coinsbtn__coin__input:checked + .p-coinsbtn__coin__checkparts::after{
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: -5px;
  //   left: 5px;
  //   width: 7px;
  //   height: 14px;
  //   // transform: rotate(40deg);
  //   border-bottom: 5px solid #d01137;
  //   border-right: 5px solid #d01137;
  // }
  

// ==================================
// coinsramk
// ==================================
  .p-coinrank{
    // &__top{
    //   text-align: center;
    //   font-size: 2vw;
    //   padding: 5%;
    // }
    // &__each{
    //   font-size: 50px;
    // }
    &__container{
    float: left;
    margin: 5% 5% 10% 5%;
    width: 90%;
    @include mq() {
      margin: 5% 2%;
      width: 95%;
      min-height: 475px;
    }
      // h2{
      //   padding: 5%;
      // }
      h3{
        height: 20px;
        line-height: 20px;
        font-size: $font-size_default;
        padding: 5px;
        background-color: $color_corp;
        width: 100;
        margin: auto auto;
        text-align: center;
        border-bottom: 0.1px solid;
        @include mq() {
          font-size: $font-size_s;
        }
      }
      span{
        font-size: 9px;
      }
    }
    &__table{
      text-align: center;
      width: 100%;
      background-color: #eee;
      border: 1px solid;
      margin-bottom: 15px;
      table{
        width: 100%;
      }
      th{
        font-size: 70%;
        background-color: #bcf0c3;
        border: 1px solid;
        padding: 7px 3px;
        vertical-align: middle;
      }
      td{
        font-size:14px;
        letter-spacing: 5px;
        padding: 5px;
        border: 1px solid;
        vertical-align: middle;
      }

      tr{
        height: 30px;
        line-height: 30px;
        @include mq() {
          height: 20px;
          line-height: 20px;
        }
      }

      h4{
        background-color: #bcf0c3;
        padding: 3px;
      }
    }
}